@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* 10px / 16px = 0.625 = 62.5% */
        /* Percentage of user's browser font-size setting */
        font-size: 55.5%;
    }
    body {
        font-family: "Kumbh Sans", sans-serif;
        line-height: 1;
        font-weight: 400;
    }
}
