@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* 10px / 16px = 0.625 = 62.5% */
        /* Percentage of user's browser font-size setting */
        font-size: 55.5%;
    }
    body {
        font-family: "Kumbh Sans", sans-serif;
        line-height: 1;
        font-weight: 400;
        background: url("../images/bg-pattern-top.svg") -35rem -60rem no-repeat,
            url("../images/bg-pattern-bottom.svg") 70rem 40rem no-repeat;
    }
}
@layer components {
    .box {
        display: grid;
        grid-template-rows: 1.75fr 2fr 1.25fr;
    }
    .img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}
