@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* 10px / 16px = 0.625 = 62.5% */
        /* Percentage of user's browser font-size setting */
        font-size: 66.6%;
    }
    body {
        font-family: "Overpass", sans-serif;
        line-height: 1;
        font-weight: 400;
        color: white;
    }
}

@layer components {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
