@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* 10px / 15px = 0.666 = 66.6% */
        /* Percentage of user's browser font-size setting */
        font-size: 66.6%;
    }

    body {
        font-family: "Poppins", sans-serif;
        line-height: 1;
        font-weight: 400;
    }
}

@layer components {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
    }
}
