@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* 10px / 16px = 0.625 = 62.5% */
        /* Percentage of user's browser font-size setting */
        font-size: 66.6%;
    }

    body {
        font-family: "League Spartan", sans-serif;
        line-height: 1;
        font-weight: 400;
        background: url("../images/bg-pattern-top-desktop.svg") 0rem 0rem
                no-repeat,
            url("../images/bg-pattern-bottom-desktop.svg") 20rem 10rem no-repeat;
    }
}
@layer components {
    .general {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 5rem;
    }
    .topPart {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .rightBox {
        display: flex;
        justify-content: space-around;
    }
    .boxs {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
