@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* 10px / 15px = 0.666 = 66.6% */
        /* Percentage of user's browser font-size setting */
        font-size: 66.6%;
    }
}

@layer components {
    .center-main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box {
        display: grid;
        grid-template-columns: 1fr 0.85fr;
    }
    .box-mobile {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr;
    }
    .left-side {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .left-elements {
        display: flex;
        justify-content: space-between;
    }
    .left-elements-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
